:root {
  --gray1: #323234;
  --gray2: #202023;
  --gray3: #0b0d17;

  --white1: #ededed;
  --white2: #f6f0e8;
  --white3: #f0e7db;
  --white4: #aca7a3;

  --text: #dbdadd;
  --text-secondary: #99999b;

  --bg: #1f2029;
  --bg-secondary: #35363e;

  --primary: #20bfa9;
  --primary--secondary: #137365;

  --accent: #fab005;
  --accent--secondary: #f76707;
}
