:root {
  --gray1: #4c4d54;
  --gray2: #626369;
  --gray3: #0b0d17;

  --white1: #ededed;
  --white2: #f6f0e8;
  --white3: #f0e7db;
  --white4: #aca7a3;

  --text: #dbdadd;
  --text-secondary: #99999b;

  --bg: #1f2029;
  --bg-secondary: #35363e;

  --primary: #fab005; /*#20bfa9 */
  --primary--secondary: #f76707; /* #137365 */

  --accent: #20bfa9;
  --accent--secondary: #137365;

  --red: #ff3636;
  --red-transparent: rgba(198, 36, 55, 0.4);
  --red-transparent--hover: rgba(198, 36, 55, 0.8);

  --green: #80d245;
  --green-transparent: rgba(123, 218, 28, 0.4);
  --green-transparent--hover: rgba(123, 218, 28, 0.8);
}
