@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  background-color: var(--bg);
  color: var(--text);
}

.container {
  max-width: 150rem;
  margin: 0 auto;
}

.main {
  padding: 4.8rem 9.6rem 2.4rem 9.6rem;
}

/* LAYOUT */

.grid {
  display: grid;
  grid-gap: 3.2rem;
}

.grid--1-col {
  grid-template-columns: 1fr;
}

.grid--2-col {
  grid-template-columns: 1fr 1fr;
}

.order--1 {
  grid-column: 1 / span 1;
}
/* HEADINGS */

.heading--primary {
  display: inline-block;
  font-size: 3.9rem;
  margin-bottom: 4.8rem;
  text-transform: uppercase;
  background-color: var(--bg-secondary);
  padding: 1.2rem 2.4rem;
  border-radius: 13px;
}

.heading--secondary {
  font-size: 3.1rem;
  margin-bottom: 3.2rem;
  letter-spacing: 0.5px;
}

.heading--tertiary {
  display: inline-block;
  font-size: 3.2rem;
}

.heading--quaternary {
  display: inline-block;
  font-size: 2.4rem;
  margin-bottom: 2.4rem;
  color: var(--text-secondary);
  text-transform: uppercase;
  letter-spacing: 0.5px;

  position: relative;
}

.heading--quaternary::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--primary);

  position: absolute;
  bottom: -3px;
  left: 0;
}

/* LINKS AND BTNS */

.btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.lnk:link,
.lnk:visited {
  display: inline-block;
  text-decoration: none;
  color: var(--text);
}

/* ANIMATIONS */

.underline:link::before,
.underline:visited::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0.2rem;
  background-color: currentColor;
  transition: width 0.3s ease-in-out;
}

.underline:hover::before,
.underline:active::before {
  width: 100%;
}
