.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /*scale(0); */
  transition: all 0.2s ease-in-out;
  background-color: red;
  border: 1px solid black;
  border-radius: 9px;
  z-index: 10;
  width: min(50rem, 80%);
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease-in-out;
  /* opacity: 1;
  pointer-events: none; */
}

/* .create-project-overlay.active {
  opacity: 1;
  pointer-events: all;
} */

/* ********************** */
/* PROJECT */
/* ********************** */

.project__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.project {
  background-color: var(--bg-secondary);
  width: 80%;
  padding: 1.2rem 2.4rem;
  margin-bottom: 2.4rem;
  border-radius: 12px;
}

.project__title {
  font-size: 3.1rem;
  font-weight: bold;
  color: var(--primary);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project__title .icon {
  cursor: pointer;
}

.project__description {
  font-size: 2rem;
  color: var(--gray2);
  width: 60%;

  height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.active .project__description {
  height: 100%;
}
