/* NAVIGATION */
.welcome-message {
  font-size: 2rem;
  font-weight: 500;
  color: var(--text);
  margin-right: 1rem;
}

.name {
  color: var(--primary);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem 2.4rem;
  background-color: var(--bg-secondary);
  box-shadow: 0 2px 8px 0px rgba(0, 0, 0, 0.2);
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.lnk--nav:link,
.lnk--nav:visited {
  font-size: 2.4rem;
  font-weight: 400;
  padding: 0.4rem 0.8rem;
  transition: all 0.3s ease-in-out;

  position: relative;
}

.lnk--nav:hover,
.lnk--nav:active {
  color: var(--primary);
}

/* ERRORS */

.errors__wrapper {
  display: inline-block;
  background-color: var(--red-transparent);
  padding: 1.2rem 2.4rem;
  border-radius: 200px;
  color: var(--red);
}

.success__wrapper {
  display: inline-block;
  background-color: var(--green-transparent);
  padding: 1.2rem 2.4rem;
  border-radius: 200px;
  color: var(--green);
}

.errors__wrapper,
.success__wrapper {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}

/* PROJECT PAGE */

.section__wrapper {
  padding: 0rem 4.8rem;
  display: grid;
  grid-template-columns: 70fr 30fr;
}

.project__wrapper {
  width: 80%;
  display: flex;
  justify-content: space-between;

  border: 2px solid var(--bg-secondary);
  padding: 1.2rem 2.4rem;
  border-radius: 13px;

  margin-bottom: 2.4rem;
}

.project__description {
  font-size: 2rem;
  color: var(--text-secondary);
}

.project__buttons {
  display: flex;
  gap: 1.6rem;
}

.lnk--project:link,
.lnk--project:visited {
  font-size: 2.4rem;
  font-weight: 400;
  /* padding: 0.8rem; */
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 13px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.icon__project {
  width: 2.4rem;
  height: 2.4rem;
}

/* FORM FROM PROJECT PAGE */

.section__add-project .heading--secondary {
  text-align: center;
}

.form {
  font-family: inherit;
  background-color: var(--bg-secondary);
  padding: 3.2rem 2.4rem;
  border-radius: 13px;

  align-items: flex-start;
}

.form__label {
  margin-bottom: 0.8rem;
}

.form__field {
  width: 100%;
}

.form__input {
  width: 50%;
}

.form__textarea {
  font-family: inherit;
  color: var(--bg);
  background-color: var(--text);
  width: 100%;
  height: 10rem;
  font-size: 1.8rem;
  border: none;
  border-radius: 7px;
  padding: 0.8rem 1.6rem;
}

.form__textarea::placeholder {
  color: var(--bg-secondary);
}

.form__field--btn:link,
.form__field--btn:visited {
  padding: 0 3.2rem;
}

.lnk--green:link,
.lnk--green:visited {
  background-color: var(--green-transparent);
  transition: all 0.3s ease-in-out;
}

.lnk--red:link,
.lnk--red:visited {
  background-color: var(--red-transparent);
  transition: all 0.3s ease-in-out;
}

.lnk--green:hover,
.lnk--green:active {
  background-color: var(--green-transparent--hover);
}

.lnk--red:hover,
.lnk--red:active {
  background-color: var(--red-transparent--hover);
}

/* PROFILE */

.profile__wrapper {
  grid-gap: 6.4rem;
}

.profile__wrapper.section__wrapper {
  display: grid;
  grid-template-columns: 80fr 20fr;
}

.profile__wrapper .form__input {
  width: 100%;
}

.projects__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3.2rem;
}

.prject__profile {
  width: 100%;
}

.projects__wrapper table {
  width: 100%;
  border-collapse: collapse;
}

table th {
  background-color: var(--bg-secondary);
  color: var(--text-secondary);
  padding: 0.4rem 0.8rem;
  text-transform: uppercase;
}

table td {
  padding: 0.4rem 0.8rem;
}

table tr:nth-child(even) {
  background-color: var(--gray1);
}

table tr:nth-child(odd) {
  background-color: var(--gray2);
}

/* ADMIN */

.table__wrapper {
  width: 80%;
  height: 60vh;
  overflow-y: scroll;
}

.admin__wrapper table {
  width: 95%;
  border-collapse: collapse;
}

.admin__wrapper table td:last-child,
.admin__wrapper table td:nth-last-child(2),
.admin__wrapper table th:last-child,
.admin__wrapper table th:nth-last-child(2) {
  background-color: var(--bg);
  text-align: center;
}

.lnk--admin:link,
.lnk--admin:visited {
  font-weight: 400;
  padding: 0.4rem 0.8rem;
  background-color: var(--primary);
  border-radius: 7px;
  color: var(--bg);

  transition: all 0.3s ease-in-out;
}

/* lnk--admin hover and active state */
.lnk--admin:hover,
.lnk--admin:active {
  background-color: var(--primary--secondary);
}

.section__add-group {
  justify-self: center;
  width: 80%;
}

.section__add-group .heading--secondary {
  text-align: center;
}

.section__add-group .form {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: var(--bg-secondary);
  padding: 1.6rem 2.4rem;
  width: 100%;
}

.section__add-group .form__label {
  margin-right: 1.6rem;
}

.section__add-group .form__input {
  padding: 0.4rem 0.8rem;
  border-style: none;
  border-radius: 7px;
}

.section__add-group .btn {
  background-color: var(--primary);
  padding: 0.6rem 1.2rem;
  border-radius: 7px;
  transition: all 0.3s ease-in-out;
}

.section__add-group .btn:hover,
.section__add-group .btn:active {
  background-color: var(--primary--secondary);
}
